<% layout("./layout/boilerplate") %>

<div class="container-fluid">

    <!-- Page Heading -->

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h4 class="m-0 text-primary d-inline">Super record of all bookings (Admin Only) <i class="fas fa-user-shield"></i></h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <input class="form-control" id="myInput" type="text" placeholder="Search..">
                <br>
                <table id="example1" class="table table-bordered table-striped">
                    <input value="Export as CSV " type="button" class="d-none btn btn-info" onclick="$('#example1').table2CSV()">
                    <button class="btn btn-info" id='exb'>Export to CSV file</button>
                    <thead class="bg-primary text-white">
                    <tr>
                        <th>Date</th>
                        <th>User</th>
                        <th>Desk Name</th>
                        <th>Floor Name</th>
                        <th>Room</th>
                        <th>Presence</th>

                    </tr>
                    </thead>

                    <%if(bookings.length>0){%>
                    <tbody id="myTable">
                    <%for(let booking of bookings){%>
                    <tr>
                        <td><%=booking.booking_details.book_date%></td>
                        <td><%=booking.users.name%> <%=booking.users.surname%></td>
                        <td><%=booking.desk.desk_name%></td>
                        <td><%=booking.floor.floor_name%></td>
                        <td><%=booking.room.room_name%></td>
                        <td><%if(booking.booking_details.checked_in === 0){%>
                            <div>

                                <%if(booking.booking_details.book_date <= `${todayDate}` && booking.booking_details.checked_in === 0){%>

                                <form class="d-inline" action="/checkin" method="post">
                                    <div class="d-none">
                                        <input  type="text" value="<%=booking.booking_details.booking_id%>" name="booking_id">
                                        <input type="text" value="<%=booking.booking_details.book_date%>" name="book_date">
                                    </div>

                                    <span class=" btn btn btn-danger btn-circle btn-sm"><i class="fas fa-times"></i></span>
                                    <button href="#" class="btn btn-primary btn-sm">
                                        <span>No, Check in</span>
                                    </button>
                                </form>
                                <%}else if(booking.booking_details.book_date < todayDate){%>
                                    No
                                    <span class=" btn btn btn-danger btn-circle btn-sm"><i class="fas fa-times"></i></span>
                                <%}%>


                            </div>
                            <%}else{%>
                                Yes
                                <span class="btn btn btn-success btn-circle btn-sm"><i class="fas fa-check"></i></span>
                            <%}%>
                        </td>

                    </tr>
                    <%}%>

                    </tbody>
                    <%}%>
                </table>
            </div>
        </div>
    </div>
</div>