<% layout("./layout/boilerplate") %>

<div class="container-fluid">

    <!-- Page Heading -->

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h4 class="m-0  text-primary">Your previous bookings</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <input class="form-control" id="myInput" type="text" placeholder="Search..">
                <br>
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th>Date</th>
                        <th>Desk Name</th>
                        <th>Floor Name</th>
                        <th>Room</th>
                        <th>Time</th>
                        <th>Presence</th>

                    </tr>
                    </thead>
                    <tbody id="myTable">
                    <%for(let booking of bookings){%>
                    <tr>
                        <td><%=booking.booking_details.book_date%></td>
                        <td><%=booking.desk.desk_name%></td>
                        <td><%=booking.floor.floor_name%></td>
                        <td><%=booking.room.room_name%></td>
                        <td>Time will show here</td>
                        <td><%if(booking.booking_details.checked_in === 0){%>
                                <div>
                                    <span class=" btn btn btn-danger btn-circle btn-sm"><i class="fas fa-times"></i></span>
                                    <%if(booking.booking_details.book_date === `${todayDate}` && booking.booking_details.checked_in === 0){%>
                                    <form class="d-inline" action="/checkin" method="post">
                                        <div class="d-none">
                                            <input  type="text" value="<%=booking.booking_details.booking_id%>" name="booking_id">
                                            <input type="text" value="<%=booking.booking_details.book_date%>" name="book_date">
                                        </div>
                                        <button href="#" class="btn btn-success btn-sm">
                                            <span>Check-in</span>
                                        </button>
                                    </form>
                                    <%}%>

                                </div>
                            <%}else{%>
                                <span class="btn btn btn-success btn-circle btn-sm"><i class="fas fa-check"></i></span>
                            <%}%>
                        </td>

                    </tr>
                    <%}%>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>

</div>