<% layout("./layout/boilerplate") %>


<div class="container-fluid">
    <div class="row pb-3 ">
        <div class="col-12">
            <h1 class="text-center d-block">Add New Room</h1>
        </div>
        <div class="col-md-6 offset-md-3 bg-gradient-primary">
            <form action="/addroom" method="post" enctype="multipart/form-data" >
                <div class="mb-3">
                    <label class="form-label text-white" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="room_name" required>

                </div>

                <div class="mb-3">
                    <label for="formFileMultiple" class="form-label text-white">Room image</label>
                    <input class="form-control" type="file" name="room_image">
                </div>

                <div class="mb-3">
                    <label for="validationCustom04" class="text-white">Floor</label>
                    <select class="custom-select" id="validationCustom04" name="floor_id" required>
                        <option selected disabled >Select floor...</option>
                        <%for(let floor of allFloors){%>
                        <option  value='<%=floor.floor_id%>'><%=floor.floor_name%></option>
                        <%}%>

                    </select>
                    <div class="invalid-feedback">
                        Please select a valid Floor.
                    </div>
                </div>



                <div class="mb-3">
                    <button class="btn btn-success" >Add room</button>
                </div>
            </form>

        </div>
    </div>

    <%if(rooms.length > 0){%>
    <!-- Row container -->
    <div class="row">
        <%for(let room of rooms){%>
        <!-- Available card sinppet -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-0">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="h4 mb-0 font-weight-bold text-gray-800">
                                <%=room.room.room_name%></div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <div class="row">
                            <div class="col-sm-6 d-flex align-items-center">
                                <span class="myLabel available">
                                    <b><%=room.floor.floor_name%></b>
                                </span>
                            </div>
                            <div class="col-sm-6 d-flex align-items-center justify-content-end">
                                <form action="/deleteroom" method="post" onsubmit="return confirm('Warning:\nThis room and all its desks will be deleted. Confirm?');">
                                    <div class="d-none">
                                        <input type="text" value="<%=room.room.room_id%>" name="room_id">
                                        <input type="text" value="<%=room.room.room_name%>" name="room_name">
                                    </div>
                                    <button type="submit" class="btn btn-danger btn-circle btn-sm py-1"><i class="fas fa-trash"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%}%>

    </div>
    <%}%>



</div>