<% layout("./layout/boilerplate") %>
<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
<%if(desks.length> 0){%>
<h4 class="ml-5">Room: <%=desks[0].room.room_name%> </h4>
<h4 class="ml-5">Floor: <%=desks[0].floor.floor_name%> </h4>

<div class="container-fluid">
    <!-- Row container -->
    <div class="row">

        <%for(let desk of desks){%>
        <%if(desk.booking_details.book_date == null){%>
        <!-- Available card sinppet -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-0">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="h4 mb-0 font-weight-bold text-gray-800">
                                <%=desk.desk.desk_name%></div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <div class="row">
                            <div class="col-sm-6 d-flex align-items-center">
                                <span class="myLabel available">
                                    <b>Available</b>
                                </span>

                            </div>

                            <div class="col-sm-6 d-flex align-items-center justify-content-end">
                                <form action="/book" method="post" onsubmit="return confirm('Confirm this desk ?');">
                                    <div class="d-none">
                                        <input type="text" value="<%=desk.desk.desk_id%>" name="desk_id">
                                        <input type="text" value="<%=desk.desk.room_id%>" name="room_id">
                                        <input type="text" value="<%=desk.room.floor_id%>" name="floor_id">
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-sm py-1">Book now</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%}else{%>
        <!-- Booked card snippet -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 w-auto py-0">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="h4 mb-0 font-weight-bold text-gray-800"><%=desk.desk.desk_name%>
                                <div><%=desk.room.room_name%></div></div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <div class="row">
                            <div class="col-sm-6 d-flex align-items-center">
                                <span class="myLabel booked"  data-toggle="tooltip" data-placement="right" title="by <%=`${desk.users.name} ${desk.users.surname}`%>">
                                    <b>Booked</b>
                                </span>
                            </div>

                            <div class="col-sm-6 d-flex align-items-center justify-content-end">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%}%>
        <%}%>

    </div>

</div>


<%}else{%>
<h1 class="ml-5">This room doesn't have any desk</h1>
    <%}%>





